pkgbase = pdfminer
	pkgdesc = python utils to extract, analyze text data of PDF files.
	pkgver = 20140327
	pkgrel = 1
	url = http://www.unixuser.org/~euske/python/pdfminer/
	arch = any
	license = MIT/X
	depends = python2
	source = http://pypi.python.org/packages/source/p/pdfminer/pdfminer-20140327.tar.gz
	sha256sums = 7598b9c0b28aa6d7b9d95b1485cf9d4cf82314b2f28bad942dd9a70a4e5d61d7

pkgname = pdfminer

